<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<head>
    <meta charset="UTF-8">
    <title>Owners Page</title>
</head>
<body>

<h1 th:text="'Owners List'">Owners List</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <td style="width: 150px;">Id</td>
        <td style="width: 150px;">First Name</td>
        <td style="width: 150px;">Last Name</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner?.id}"></td>
        <td th:text="${owner?.firstName}"></td>
        <td th:text="${owner?.lastName}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>